.container{
  clear:both;
  margin-bottom: 10px; auto;
  top:0; bottom: 0;
  left:0; right:0;

}
h1{
  text-align: center;
}

#pad{
  height: 80vh;
  width: 30vw;
  margin: 0 auto;
  top:0; bottom: 0;
  left:0; right:0;
  display: inline-block;
}
#htmlArea{
  height: 80vh;
  width: 50vw;
  border: 1px solid #000;
  display: inline-block;
}
