.container{
  clear:both;
  border-top: 1px solid #000;
}


#pad{
  border-top: 1px solid #000;

  height: 60vh;
  width: 30vw;
  margin: 0 auto;
  top:0; bottom: 0;
  left:0; right:0;
  display: inline-block;
}
#htmlArea{
  border-top: 1px solid #000;
  height: 60vh;
  width: 25vw;
  top:0; bottom: 0;
  left:0; right:0;
  display: inline-block;
}
